/*
 * Nudm_UECM
 *
 * Nudm Context Management Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.503 Unified Data Management Services, version 17.14.0
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.503/
 *
 * API version: 1.2.6
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package UECM

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type UECMRegistrationInfoRetrievalApiService service

/*
UECMRegistrationInfoRetrievalApiService retrieve UE registration data sets
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - Identifier of the UE
 * @param RegistrationDatasetNames - List of UECM registration dataset names
 * @param SupportedFeatures -
 * @param SingleNssai -
 * @param Dnn -

@return GetRegistrationsResponse
*/

// GetRegistrationsRequest
type GetRegistrationsRequest struct {
	UeId                     *string
	RegistrationDatasetNames []models.Udm_UECM_RegistrationDataSetName
	SupportedFeatures        *string
	SingleNssai              *models.Snssai
	Dnn                      *string
}

func (r *GetRegistrationsRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *GetRegistrationsRequest) SetRegistrationDatasetNames(
	RegistrationDatasetNames []models.Udm_UECM_RegistrationDataSetName,
) {
	r.RegistrationDatasetNames = RegistrationDatasetNames
}

func (r *GetRegistrationsRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

func (r *GetRegistrationsRequest) SetSingleNssai(SingleNssai models.Snssai) {
	r.SingleNssai = &SingleNssai
}

func (r *GetRegistrationsRequest) SetDnn(Dnn string) {
	r.Dnn = &Dnn
}

type GetRegistrationsResponse struct {
	Udm_UECM_RegistrationDataSets *models.Udm_UECM_RegistrationDataSets
}

type GetRegistrationsError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *UECMRegistrationInfoRetrievalApiService) GetRegistrations(
	ctx context.Context,
	request *GetRegistrationsRequest,
) (*GetRegistrationsResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetRegistrationsResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/{ueId}/registrations"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.RegistrationDatasetNames == nil {
		return nil, openapi.ReportError(
			"RegistrationDatasetNames must be non nil",
		)
	} else {
		if len(request.RegistrationDatasetNames) < 2 {
			return &localVarReturnValue, openapi.ReportError("RegistrationDatasetNames must have at least 2 elements")
		}
		err := openapi.AddQueryParams(&localVarQueryParams, "registration-dataset-names", request.RegistrationDatasetNames, "csv")
		if err != nil {
			return nil, err
		}
	}
	if request.SingleNssai != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"single-nssai",
			request.SingleNssai,
			"application/json",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.Dnn != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"dnn",
			request.Dnn,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udm_UECM_RegistrationDataSets = new(
			models.Udm_UECM_RegistrationDataSets,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udm_UECM_RegistrationDataSets,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 400:
		var v GetRegistrationsError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 403:
		var v GetRegistrationsError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v GetRegistrationsError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v GetRegistrationsError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v GetRegistrationsError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
