/*
 * Nudr_imsDR
 *
 * Proprietary Nudr Data Repository Service for IMS.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: Proprietary UDR Services for interworking with IMS, version 17.8.0
 * Url: https://example.com
 *
 * API version: 1.1.2
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package imsDR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type SCSCFSelectionAssistanceInformationDocumentApiService service

/*
SCSCFSelectionAssistanceInformationDocumentApiService Create or update the S-CSCF selection assistance information
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param ImsUeId - IMS Identity
 * @param RequestBody -

@return CreaeteOrUpdateScscfSelectionAssistanceInfoResponse
*/

// CreaeteOrUpdateScscfSelectionAssistanceInfoRequest
type CreaeteOrUpdateScscfSelectionAssistanceInfoRequest struct {
	ImsUeId     *string
	RequestBody *models.Hss_imsSDM_ScscfSelectionAssistanceInformation
}

func (r *CreaeteOrUpdateScscfSelectionAssistanceInfoRequest) SetImsUeId(
	ImsUeId string,
) {
	r.ImsUeId = &ImsUeId
}

func (r *CreaeteOrUpdateScscfSelectionAssistanceInfoRequest) SetRequestBody(
	RequestBody models.Hss_imsSDM_ScscfSelectionAssistanceInformation,
) {
	r.RequestBody = &RequestBody
}

type CreaeteOrUpdateScscfSelectionAssistanceInfoResponse struct{}

type CreaeteOrUpdateScscfSelectionAssistanceInfoError struct{}

func (a *SCSCFSelectionAssistanceInformationDocumentApiService) CreaeteOrUpdateScscfSelectionAssistanceInfo(
	ctx context.Context,
	request *CreaeteOrUpdateScscfSelectionAssistanceInfoRequest,
) (*CreaeteOrUpdateScscfSelectionAssistanceInfoResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Put")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CreaeteOrUpdateScscfSelectionAssistanceInfoResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{imsUeId}/ims-data/location-data/scscf-selection-assistance-info"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"imsUeId"+"}",
		openapi.StringOfValue(*request.ImsUeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}

/*
SCSCFSelectionAssistanceInformationDocumentApiService Retrieve the S-CSCF selection assistance info
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param ImsUeId - IMS Identity

@return GetScscfSelectionAssistanceInfoResponse
*/

// GetScscfSelectionAssistanceInfoRequest
type GetScscfSelectionAssistanceInfoRequest struct {
	ImsUeId *string
}

func (r *GetScscfSelectionAssistanceInfoRequest) SetImsUeId(ImsUeId string) {
	r.ImsUeId = &ImsUeId
}

type GetScscfSelectionAssistanceInfoResponse struct {
	Hss_imsSDM_ScscfSelectionAssistanceInformation *models.Hss_imsSDM_ScscfSelectionAssistanceInformation
}

type GetScscfSelectionAssistanceInfoError struct {
	Location                 string
	Var3gpp_Sbi_Target_Nf_Id string
	ProblemDetails           *models.ProblemDetails
	RedirectResponse         *models.RedirectResponse
}

func (a *SCSCFSelectionAssistanceInformationDocumentApiService) GetScscfSelectionAssistanceInfo(
	ctx context.Context,
	request *GetScscfSelectionAssistanceInfoRequest,
) (*GetScscfSelectionAssistanceInfoResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetScscfSelectionAssistanceInfoResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{imsUeId}/ims-data/location-data/scscf-selection-assistance-info"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"imsUeId"+"}",
		openapi.StringOfValue(*request.ImsUeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Hss_imsSDM_ScscfSelectionAssistanceInformation = new(
			models.Hss_imsSDM_ScscfSelectionAssistanceInformation,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Hss_imsSDM_ScscfSelectionAssistanceInformation,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 307:
		var v GetScscfSelectionAssistanceInfoError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 308:
		var v GetScscfSelectionAssistanceInfoError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v GetScscfSelectionAssistanceInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 405:
		var v GetScscfSelectionAssistanceInfoError
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v GetScscfSelectionAssistanceInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v GetScscfSelectionAssistanceInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 504:
		var v GetScscfSelectionAssistanceInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
