/*
 * Nudr_imsDR
 *
 * Proprietary Nudr Data Repository Service for IMS.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: Proprietary UDR Services for interworking with IMS, version 17.8.0
 * Url: https://example.com
 *
 * API version: 1.1.2
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package imsDR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type SCSCFRegistrationDocumentApiService service

/*
SCSCFRegistrationDocumentApiService SCSCF registration information
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param ImsUeId - IMS Identity
 * @param RequestBody -

@return SCSCFRegistrationResponse
*/

// SCSCFRegistrationRequest
type SCSCFRegistrationRequest struct {
	ImsUeId     *string
	RequestBody *models.Hss_imsUECM_ScscfRegistration
}

func (r *SCSCFRegistrationRequest) SetImsUeId(ImsUeId string) {
	r.ImsUeId = &ImsUeId
}

func (r *SCSCFRegistrationRequest) SetRequestBody(
	RequestBody models.Hss_imsUECM_ScscfRegistration,
) {
	r.RequestBody = &RequestBody
}

type SCSCFRegistrationResponse struct {
	Location                      string
	Hss_imsUECM_ScscfRegistration *models.Hss_imsUECM_ScscfRegistration
}

type SCSCFRegistrationError struct {
	Location                           string
	Var3gpp_Sbi_Target_Nf_Id           string
	Hss_imsUECM_ExtendedProblemDetails *models.Hss_imsUECM_ExtendedProblemDetails
	ProblemDetails                     *models.ProblemDetails
	RedirectResponse                   *models.RedirectResponse
}

func (a *SCSCFRegistrationDocumentApiService) SCSCFRegistration(
	ctx context.Context,
	request *SCSCFRegistrationRequest,
) (*SCSCFRegistrationResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Put")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  SCSCFRegistrationResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{imsUeId}/context-data/scscf-registration"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"imsUeId"+"}",
		openapi.StringOfValue(*request.ImsUeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 201:
		localVarReturnValue.Hss_imsUECM_ScscfRegistration = new(
			models.Hss_imsUECM_ScscfRegistration,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Hss_imsUECM_ScscfRegistration,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Location = localVarHTTPResponse.Header.Get(
			"Location",
		)
		return &localVarReturnValue, nil
	case 200:
		localVarReturnValue.Hss_imsUECM_ScscfRegistration = new(
			models.Hss_imsUECM_ScscfRegistration,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Hss_imsUECM_ScscfRegistration,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 204:
		return &localVarReturnValue, nil
	case 307:
		var v SCSCFRegistrationError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 308:
		var v SCSCFRegistrationError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 403:
		var v SCSCFRegistrationError
		v.Hss_imsUECM_ExtendedProblemDetails = new(
			models.Hss_imsUECM_ExtendedProblemDetails,
		)
		err = openapi.Deserialize(
			v.Hss_imsUECM_ExtendedProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v SCSCFRegistrationError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
