/*
 * Nudr_imsDR
 *
 * Proprietary Nudr Data Repository Service for IMS.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: Proprietary UDR Services for interworking with IMS, version 17.8.0
 * Url: https://example.com
 *
 * API version: 1.1.2
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package imsDR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type IMSProfileDataRetrievalApiService service

/*
IMSProfileDataRetrievalApiService Retrieve the complete IMS profile for a given IMS public identity (and public identities in the same IRS)
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param ImsUeId - IMS Identity. In this case it shall be an IMS public identity
 * @param DatasetNames - Datasets to be retrieved

@return GetProfileDataResponse
*/

// GetProfileDataRequest
type GetProfileDataRequest struct {
	ImsUeId      *string
	DatasetNames []models.Hss_imsSDM_DataSetName
}

func (r *GetProfileDataRequest) SetImsUeId(ImsUeId string) {
	r.ImsUeId = &ImsUeId
}

func (r *GetProfileDataRequest) SetDatasetNames(
	DatasetNames []models.Hss_imsSDM_DataSetName,
) {
	r.DatasetNames = DatasetNames
}

type GetProfileDataResponse struct {
	Hss_imsSDM_ImsProfileData *models.Hss_imsSDM_ImsProfileData
}

type GetProfileDataError struct {
	Location                 string
	Var3gpp_Sbi_Target_Nf_Id string
	ProblemDetails           *models.ProblemDetails
	RedirectResponse         *models.RedirectResponse
}

func (a *IMSProfileDataRetrievalApiService) GetProfileData(
	ctx context.Context,
	request *GetProfileDataRequest,
) (*GetProfileDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetProfileDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{imsUeId}/ims-data/profile-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"imsUeId"+"}",
		openapi.StringOfValue(*request.ImsUeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.DatasetNames != nil {
		if len(request.DatasetNames) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"DatasetNames must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"dataset-names",
			request.DatasetNames,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Hss_imsSDM_ImsProfileData = new(
			models.Hss_imsSDM_ImsProfileData,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Hss_imsSDM_ImsProfileData,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 307:
		var v GetProfileDataError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 308:
		var v GetProfileDataError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v GetProfileDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 405:
		var v GetProfileDataError
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v GetProfileDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v GetProfileDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 504:
		var v GetProfileDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
