/*
 * Nnef_SMService
 *
 * Nnef SMService Service.   © 2022, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.541 V17.4.0; 5G System; Session Management Services for Non-IP Data Delivery (NIDD).
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.541/
 *
 * API version: 1.0.0
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package SMService

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type SendMOSMSMessageAndTheDeliveryReportApiService service

/*
SendMOSMSMessageAndTheDeliveryReportApiService Send SMS payload for a given UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param Supi - Subscription Permanent Identifier (SUPI)
 * @param RequestBody -

@return SendSMSResponse
*/

// SendSMSRequest
type SendSMSRequest struct {
	Supi        *string
	RequestBody *models.SendSMSRequestBody
}

func (r *SendSMSRequest) SetSupi(Supi string) {
	r.Supi = &Supi
}

func (r *SendSMSRequest) SetRequestBody(RequestBody models.SendSMSRequestBody) {
	r.RequestBody = &RequestBody
}

type SendSMSResponse struct {
	SendSMSResponse200 *models.SendSMSResponse200
}

type SendSMSError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *SendMOSMSMessageAndTheDeliveryReportApiService) SendSMS(
	ctx context.Context,
	request *SendSMSRequest,
) (*SendSMSResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Post")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  SendSMSResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/sm-contexts/{supi}/sendsms"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"supi"+"}",
		openapi.StringOfValue(*request.Supi),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"multipart/related"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"multipart/related",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.SendSMSResponse200 = new(models.SendSMSResponse200)
		err = openapi.Deserialize(
			localVarReturnValue.SendSMSResponse200,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 400:
		var v SendSMSError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v SendSMSError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v SendSMSError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
