/*
 * Namf_MT
 *
 * AMF Mobile Terminated Service.   © 2023, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.518 V17.12.0; 5G System; Access and Mobility Management Services
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.518/
 *
 * API version: 1.2.3
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package MT

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type UeContextDocumentApiService service

/*
UeContextDocumentApiService Namf_MT Provide Domain Selection Info service Operation
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeContextId - UE Context Identifier
 * @param InfoClass - UE Context Information Class
 * @param SupportedFeatures - Supported Features
 * @param OldGuami - Old GUAMI

@return ProvideDomainSelectionInfoResponse
*/

// ProvideDomainSelectionInfoRequest
type ProvideDomainSelectionInfoRequest struct {
	UeContextId       *string
	InfoClass         *models.Amf_MT_UeContextInfoClass
	SupportedFeatures *string
	OldGuami          *models.Guami
}

func (r *ProvideDomainSelectionInfoRequest) SetUeContextId(UeContextId string) {
	r.UeContextId = &UeContextId
}

func (r *ProvideDomainSelectionInfoRequest) SetInfoClass(
	InfoClass models.Amf_MT_UeContextInfoClass,
) {
	r.InfoClass = &InfoClass
}

func (r *ProvideDomainSelectionInfoRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

func (r *ProvideDomainSelectionInfoRequest) SetOldGuami(OldGuami models.Guami) {
	r.OldGuami = &OldGuami
}

type ProvideDomainSelectionInfoResponse struct {
	Amf_MT_UeContextInfo *models.Amf_MT_UeContextInfo
}

type ProvideDomainSelectionInfoError struct {
	Location                 string
	Var3gpp_Sbi_Target_Nf_Id string
	ProblemDetails           *models.ProblemDetails
	RedirectResponse         *models.RedirectResponse
}

func (a *UeContextDocumentApiService) ProvideDomainSelectionInfo(
	ctx context.Context,
	request *ProvideDomainSelectionInfoRequest,
) (*ProvideDomainSelectionInfoResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ProvideDomainSelectionInfoResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/ue-contexts/{ueContextId}"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueContextId"+"}",
		openapi.StringOfValue(*request.UeContextId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.InfoClass != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"info-class",
			request.InfoClass,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.OldGuami != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"old-guami",
			request.OldGuami,
			"application/json",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Amf_MT_UeContextInfo = new(
			models.Amf_MT_UeContextInfo,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Amf_MT_UeContextInfo,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 307:
		var v ProvideDomainSelectionInfoError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 308:
		var v ProvideDomainSelectionInfoError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 400:
		var v ProvideDomainSelectionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 403:
		var v ProvideDomainSelectionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v ProvideDomainSelectionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 409:
		var v ProvideDomainSelectionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 414:
		var v ProvideDomainSelectionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 429:
		var v ProvideDomainSelectionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v ProvideDomainSelectionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v ProvideDomainSelectionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
