/*
 * Nausf_UPUProtection Service
 *
 * AUSF UPU Protection Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.509 V17.10.0; 5G System; Authentication Server Services
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.509
 *
 * API version: 1.2.1
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package UPUProt

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type DefaultApiService service

/*
DefaultApiService
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param Supi - Identifier of the UE
 * @param RequestBody -

@return SupiUeUpuPostResponse
*/

// SupiUeUpuPostRequest
type SupiUeUpuPostRequest struct {
	Supi        *string
	RequestBody *models.Ausf_UPUProt_UpuInfo
}

func (r *SupiUeUpuPostRequest) SetSupi(Supi string) {
	r.Supi = &Supi
}

func (r *SupiUeUpuPostRequest) SetRequestBody(
	RequestBody models.Ausf_UPUProt_UpuInfo,
) {
	r.RequestBody = &RequestBody
}

type SupiUeUpuPostResponse struct {
	Ausf_UPUProt_UpuSecurityInfo *models.Ausf_UPUProt_UpuSecurityInfo
}

type SupiUeUpuPostError struct {
	Location                 string
	Var3gpp_Sbi_Target_Nf_Id string
	ProblemDetails           *models.ProblemDetails
	RedirectResponse         *models.RedirectResponse
}

func (a *DefaultApiService) SupiUeUpuPost(
	ctx context.Context,
	request *SupiUeUpuPostRequest,
) (*SupiUeUpuPostResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Post")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  SupiUeUpuPostResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/{supi}/ue-upu"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"supi"+"}",
		openapi.StringOfValue(*request.Supi),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Ausf_UPUProt_UpuSecurityInfo = new(
			models.Ausf_UPUProt_UpuSecurityInfo,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Ausf_UPUProt_UpuSecurityInfo,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 503:
		var v SupiUeUpuPostError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 307:
		var v SupiUeUpuPostError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	case 308:
		var v SupiUeUpuPostError
		v.RedirectResponse = new(models.RedirectResponse)
		err = openapi.Deserialize(
			v.RedirectResponse,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		v.Location = localVarHTTPResponse.Header.Get("Location")
		v.Var3gpp_Sbi_Target_Nf_Id = localVarHTTPResponse.Header.Get(
			"3gpp-Sbi-Target-Nf-Id",
		)
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return &localVarReturnValue, openapi.ReportError(
			"%d is not a valid status code in SupiUeUpuPost",
			localVarHTTPResponse.StatusCode,
		)
	}
}
