/*
 * Nudm_SDM
 *
 * Nudm Subscriber Data Management Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.503 Unified Data Management Services, version 17.14.0
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.503/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package SDM

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type GPSIToSUPITranslationOrSUPIToGPSITranslationApiService service

/*
GPSIToSUPITranslationOrSUPIToGPSITranslationApiService retrieve a UE's SUPI or GPSI
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - Identifier of the UE
 * @param SupportedFeatures - Supported Features
 * @param AfId - AF identifier
 * @param AppPortId - Application port identifier
 * @param AfServiceId - AF Service Identifier
 * @param MtcProviderInfo - MTC Provider Information
 * @param RequestedGpsiType - Requested GPSI Type
 * @param IfNoneMatch - Validator for conditional requests, as described in RFC 7232, 3.2
 * @param IfModifiedSince - Validator for conditional requests, as described in RFC 7232, 3.3

@return GetSupiOrGpsiResponse
*/

// GetSupiOrGpsiRequest
type GetSupiOrGpsiRequest struct {
	UeId              *string
	SupportedFeatures *string
	AfId              *string
	AppPortId         *models.Udm_SDM_AppPortId
	AfServiceId       *string
	MtcProviderInfo   *string
	RequestedGpsiType *models.Udm_SDM_GpsiType
	IfNoneMatch       *string
	IfModifiedSince   *string
}

func (r *GetSupiOrGpsiRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *GetSupiOrGpsiRequest) SetSupportedFeatures(SupportedFeatures string) {
	r.SupportedFeatures = &SupportedFeatures
}

func (r *GetSupiOrGpsiRequest) SetAfId(AfId string) {
	r.AfId = &AfId
}

func (r *GetSupiOrGpsiRequest) SetAppPortId(
	AppPortId models.Udm_SDM_AppPortId,
) {
	r.AppPortId = &AppPortId
}

func (r *GetSupiOrGpsiRequest) SetAfServiceId(AfServiceId string) {
	r.AfServiceId = &AfServiceId
}

func (r *GetSupiOrGpsiRequest) SetMtcProviderInfo(MtcProviderInfo string) {
	r.MtcProviderInfo = &MtcProviderInfo
}

func (r *GetSupiOrGpsiRequest) SetRequestedGpsiType(
	RequestedGpsiType models.Udm_SDM_GpsiType,
) {
	r.RequestedGpsiType = &RequestedGpsiType
}

func (r *GetSupiOrGpsiRequest) SetIfNoneMatch(IfNoneMatch string) {
	r.IfNoneMatch = &IfNoneMatch
}

func (r *GetSupiOrGpsiRequest) SetIfModifiedSince(IfModifiedSince string) {
	r.IfModifiedSince = &IfModifiedSince
}

type GetSupiOrGpsiResponse struct {
	Cache_Control               string
	ETag                        string
	Last_Modified               string
	Udm_SDM_IdTranslationResult *models.Udm_SDM_IdTranslationResult
}

type GetSupiOrGpsiError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *GPSIToSUPITranslationOrSUPIToGPSITranslationApiService) GetSupiOrGpsi(
	ctx context.Context,
	request *GetSupiOrGpsiRequest,
) (*GetSupiOrGpsiResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetSupiOrGpsiResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/{ueId}/id-translation-result"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.AfId != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"af-id",
			request.AfId,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.AppPortId != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"app-port-id",
			request.AppPortId,
			"application/json",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.AfServiceId != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"af-service-id",
			request.AfServiceId,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.MtcProviderInfo != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"mtc-provider-info",
			request.MtcProviderInfo,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.RequestedGpsiType != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"requested-gpsi-type",
			request.RequestedGpsiType,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	if request.IfNoneMatch != nil {
		localVarHeaderParams["If-None-Match"] = openapi.ParameterToString(
			request.IfNoneMatch,
			"csv",
		)
	}

	if request.IfModifiedSince != nil {
		localVarHeaderParams["If-Modified-Since"] = openapi.ParameterToString(
			request.IfModifiedSince,
			"csv",
		)
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udm_SDM_IdTranslationResult = new(
			models.Udm_SDM_IdTranslationResult,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udm_SDM_IdTranslationResult,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Cache_Control = localVarHTTPResponse.Header.Get(
			"Cache-Control",
		)
		localVarReturnValue.ETag = localVarHTTPResponse.Header.Get("ETag")
		localVarReturnValue.Last_Modified = localVarHTTPResponse.Header.Get(
			"Last-Modified",
		)
		return &localVarReturnValue, nil
	case 400:
		var v GetSupiOrGpsiError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 403:
		var v GetSupiOrGpsiError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v GetSupiOrGpsiError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v GetSupiOrGpsiError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v GetSupiOrGpsiError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
