/*
 * Nudm_SDM
 *
 * Nudm Subscriber Data Management Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.503 Unified Data Management Services, version 17.14.0
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.503/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package SDM

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type SubscriptionDeletionApiService service

/*
SubscriptionDeletionApiService unsubscribe from notifications
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - Identity of the user
 * @param SubscriptionId - Id of the SDM Subscription

@return UnsubscribeResponse
*/

// UnsubscribeRequest
type UnsubscribeRequest struct {
	UeId           *string
	SubscriptionId *string
}

func (r *UnsubscribeRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *UnsubscribeRequest) SetSubscriptionId(SubscriptionId string) {
	r.SubscriptionId = &SubscriptionId
}

type UnsubscribeResponse struct{}

type UnsubscribeError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *SubscriptionDeletionApiService) Unsubscribe(
	ctx context.Context,
	request *UnsubscribeRequest,
) (*UnsubscribeResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Delete")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  UnsubscribeResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/{ueId}/sdm-subscriptions/{subscriptionId}"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"subscriptionId"+"}",
		openapi.StringOfValue(*request.SubscriptionId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	case 400:
		var v UnsubscribeError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v UnsubscribeError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v UnsubscribeError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v UnsubscribeError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
