/*
 * Nudm_SDM
 *
 * Nudm Subscriber Data Management Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.503 Unified Data Management Services, version 17.14.0
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.503/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package SDM

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type AccessAndMobilitySubscriptionDataRetrievalApiService service

/*
AccessAndMobilitySubscriptionDataRetrievalApiService retrieve a UE's Access and Mobility Subscription Data
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param Supi - Identifier of the UE
 * @param SupportedFeatures - Supported Features
 * @param PlmnId - Serving PLMN ID or SNPN ID
 * @param AdjacentPlmns - List of PLMNs adjacent to the UE's serving PLMN
 * @param DisasterRoamingInd - Indication whether Disaster Roaming service is applied or not
 * @param IfNoneMatch - Validator for conditional requests, as described in RFC 7232, 3.2
 * @param IfModifiedSince - Validator for conditional requests, as described in RFC 7232, 3.3

@return GetAmDataResponse
*/

// GetAmDataRequest
type GetAmDataRequest struct {
	Supi               *string
	SupportedFeatures  *string
	PlmnId             *models.PlmnIdNid
	AdjacentPlmns      []models.PlmnId
	DisasterRoamingInd *bool
	IfNoneMatch        *string
	IfModifiedSince    *string
}

func (r *GetAmDataRequest) SetSupi(Supi string) {
	r.Supi = &Supi
}

func (r *GetAmDataRequest) SetSupportedFeatures(SupportedFeatures string) {
	r.SupportedFeatures = &SupportedFeatures
}

func (r *GetAmDataRequest) SetPlmnId(PlmnId models.PlmnIdNid) {
	r.PlmnId = &PlmnId
}

func (r *GetAmDataRequest) SetAdjacentPlmns(AdjacentPlmns []models.PlmnId) {
	r.AdjacentPlmns = AdjacentPlmns
}

func (r *GetAmDataRequest) SetDisasterRoamingInd(DisasterRoamingInd bool) {
	r.DisasterRoamingInd = &DisasterRoamingInd
}

func (r *GetAmDataRequest) SetIfNoneMatch(IfNoneMatch string) {
	r.IfNoneMatch = &IfNoneMatch
}

func (r *GetAmDataRequest) SetIfModifiedSince(IfModifiedSince string) {
	r.IfModifiedSince = &IfModifiedSince
}

type GetAmDataResponse struct {
	Cache_Control                             string
	ETag                                      string
	Last_Modified                             string
	Udm_SDM_AccessAndMobilitySubscriptionData *models.Udm_SDM_AccessAndMobilitySubscriptionData
}

type GetAmDataError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *AccessAndMobilitySubscriptionDataRetrievalApiService) GetAmData(
	ctx context.Context,
	request *GetAmDataRequest,
) (*GetAmDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetAmDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/{supi}/am-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"supi"+"}",
		openapi.StringOfValue(*request.Supi),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.PlmnId != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"plmn-id",
			request.PlmnId,
			"application/json",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.AdjacentPlmns != nil {
		if len(request.AdjacentPlmns) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"AdjacentPlmns must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"adjacent-plmns",
			request.AdjacentPlmns,
			"application/json",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.DisasterRoamingInd != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"disaster-roaming-ind",
			request.DisasterRoamingInd,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	if request.IfNoneMatch != nil {
		localVarHeaderParams["If-None-Match"] = openapi.ParameterToString(
			request.IfNoneMatch,
			"csv",
		)
	}

	if request.IfModifiedSince != nil {
		localVarHeaderParams["If-Modified-Since"] = openapi.ParameterToString(
			request.IfModifiedSince,
			"csv",
		)
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udm_SDM_AccessAndMobilitySubscriptionData = new(
			models.Udm_SDM_AccessAndMobilitySubscriptionData,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udm_SDM_AccessAndMobilitySubscriptionData,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Cache_Control = localVarHTTPResponse.Header.Get(
			"Cache-Control",
		)
		localVarReturnValue.ETag = localVarHTTPResponse.Header.Get("ETag")
		localVarReturnValue.Last_Modified = localVarHTTPResponse.Header.Get(
			"Last-Modified",
		)
		return &localVarReturnValue, nil
	case 400:
		var v GetAmDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v GetAmDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v GetAmDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v GetAmDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
