/*
 * Nudm_SDM
 *
 * Nudm Subscriber Data Management Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.503 Unified Data Management Services, version 17.14.0
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.503/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package SDM

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type UEContextInAMFDataRetrievalApiService service

/*
UEContextInAMFDataRetrievalApiService retrieve a UE's UE Context In AMF Data
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param Supi - Identifier of the UE
 * @param SupportedFeatures - Supported Features

@return GetUeCtxInAmfDataResponse
*/

// GetUeCtxInAmfDataRequest
type GetUeCtxInAmfDataRequest struct {
	Supi              *string
	SupportedFeatures *string
}

func (r *GetUeCtxInAmfDataRequest) SetSupi(Supi string) {
	r.Supi = &Supi
}

func (r *GetUeCtxInAmfDataRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

type GetUeCtxInAmfDataResponse struct {
	Udm_SDM_UeContextInAmfData *models.Udm_SDM_UeContextInAmfData
}

type GetUeCtxInAmfDataError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *UEContextInAMFDataRetrievalApiService) GetUeCtxInAmfData(
	ctx context.Context,
	request *GetUeCtxInAmfDataRequest,
) (*GetUeCtxInAmfDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetUeCtxInAmfDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/{supi}/ue-context-in-amf-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"supi"+"}",
		openapi.StringOfValue(*request.Supi),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udm_SDM_UeContextInAmfData = new(
			models.Udm_SDM_UeContextInAmfData,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udm_SDM_UeContextInAmfData,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 400:
		var v GetUeCtxInAmfDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v GetUeCtxInAmfDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v GetUeCtxInAmfDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v GetUeCtxInAmfDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
