/*
 * 3gpp-ue-id
 *
 * API for UE Identifier Translation.   © 2023, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.522 V17.10.0 5G System; Network Exposure Function Northbound APIs
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.522/
 *
 * API version: 1.0.0
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package UEId

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"
	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type UeIdTranslationsApiService service

// TranslateUeIdRequest
type TranslateUeIdRequest struct {
	AfId        *string
	RequestBody *models.Nef_UEId_UeIdTranslationReqData
}

func (r *TranslateUeIdRequest) SetAfId(afId string) {
	r.AfId = &afId
}

func (r *TranslateUeIdRequest) SetRequestBody(body models.Nef_UEId_UeIdTranslationReqData) {
	r.RequestBody = &body
}

type TranslateUeIdResponse struct {
	Nef_UEId_UeIdTranslationRspData *models.Nef_UEId_UeIdTranslationRspData
}

type TranslateUeIdError struct {
	ProblemDetails *models.ProblemDetails
}

/*
UeIdTranslationsApiService Translate a UE identifier (GPSI) to internal identifiers (SUPI).
 * @param ctx context.Context
 * @param AfId - Identifier of the AF
 * @param RequestBody - UE identifier translation request

@return TranslateUeIdResponse
*/
func (a *UeIdTranslationsApiService) TranslateUeId(
	ctx context.Context,
	request *TranslateUeIdRequest,
) (*TranslateUeIdResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Post")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  TranslateUeIdResponse
	)
	_ = localVarReturnValue

	localVarPath := a.client.cfg.BasePath() + "/{afId}/ue-id-translations"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"afId"+"}",
		openapi.StringOfValue(*request.AfId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}
	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0]

	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Nef_UEId_UeIdTranslationRspData = new(
			models.Nef_UEId_UeIdTranslationRspData,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Nef_UEId_UeIdTranslationRspData,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 400:
		var v TranslateUeIdError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(v.ProblemDetails, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 403:
		var v TranslateUeIdError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(v.ProblemDetails, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v TranslateUeIdError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(v.ProblemDetails, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v TranslateUeIdError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(v.ProblemDetails, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v TranslateUeIdError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(v.ProblemDetails, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
