/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentApiService service

/*
QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentApiService Retrieve NIDD Authorization Data GPSI or External Group identifier
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE ID
 * @param SingleNssai - single NSSAI
 * @param Dnn - DNN
 * @param MtcProviderInformation - MTC Provider Information
 * @param AfId - Application Function Identifier
 * @param IfNoneMatch - Validator for conditional requests, as described in RFC 7232, 3.2
 * @param IfModifiedSince - Validator for conditional requests, as described in RFC 7232, 3.3

@return GetNiddAuDataResponse
*/

// GetNiddAuDataRequest
type GetNiddAuDataRequest struct {
	UeId                   *string
	SingleNssai            *models.Snssai
	Dnn                    *string
	MtcProviderInformation *string
	AfId                   *string
	IfNoneMatch            *string
	IfModifiedSince        *string
}

func (r *GetNiddAuDataRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *GetNiddAuDataRequest) SetSingleNssai(SingleNssai models.Snssai) {
	r.SingleNssai = &SingleNssai
}

func (r *GetNiddAuDataRequest) SetDnn(Dnn string) {
	r.Dnn = &Dnn
}

func (r *GetNiddAuDataRequest) SetMtcProviderInformation(
	MtcProviderInformation string,
) {
	r.MtcProviderInformation = &MtcProviderInformation
}

func (r *GetNiddAuDataRequest) SetAfId(AfId string) {
	r.AfId = &AfId
}

func (r *GetNiddAuDataRequest) SetIfNoneMatch(IfNoneMatch string) {
	r.IfNoneMatch = &IfNoneMatch
}

func (r *GetNiddAuDataRequest) SetIfModifiedSince(IfModifiedSince string) {
	r.IfModifiedSince = &IfModifiedSince
}

type GetNiddAuDataResponse struct {
	Cache_Control            string
	ETag                     string
	Last_Modified            string
	Udr_DR_AuthorizationData *models.Udr_DR_AuthorizationData
}

type GetNiddAuDataError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *QueryNIDDAuthorizationDataGPSIOrExternalGroupIdentifierDocumentApiService) GetNiddAuData(
	ctx context.Context,
	request *GetNiddAuDataRequest,
) (*GetNiddAuDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetNiddAuDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/nidd-authorization-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SingleNssai == nil {
		return nil, openapi.ReportError("SingleNssai must be non nil")
	} else {
		err := openapi.AddQueryParams(&localVarQueryParams, "single-nssai", request.SingleNssai, "application/json")
		if err != nil {
			return nil, err
		}
	}
	if request.Dnn == nil {
		return nil, openapi.ReportError("Dnn must be non nil")
	} else {
		err := openapi.AddQueryParams(&localVarQueryParams, "dnn", request.Dnn, "multi")
		if err != nil {
			return nil, err
		}
	}
	if request.MtcProviderInformation == nil {
		return nil, openapi.ReportError(
			"MtcProviderInformation must be non nil",
		)
	} else {
		err := openapi.AddQueryParams(&localVarQueryParams, "mtc-provider-information", request.MtcProviderInformation, "multi")
		if err != nil {
			return nil, err
		}
	}
	if request.AfId != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"af-id",
			request.AfId,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	if request.IfNoneMatch != nil {
		localVarHeaderParams["If-None-Match"] = openapi.ParameterToString(
			request.IfNoneMatch,
			"csv",
		)
	}

	if request.IfModifiedSince != nil {
		localVarHeaderParams["If-Modified-Since"] = openapi.ParameterToString(
			request.IfModifiedSince,
			"csv",
		)
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udr_DR_AuthorizationData = new(
			models.Udr_DR_AuthorizationData,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udr_DR_AuthorizationData,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Cache_Control = localVarHTTPResponse.Header.Get(
			"Cache-Control",
		)
		localVarReturnValue.ETag = localVarHTTPResponse.Header.Get("ETag")
		localVarReturnValue.Last_Modified = localVarHTTPResponse.Header.Get(
			"Last-Modified",
		)
		return &localVarReturnValue, nil
	case 403:
		var v GetNiddAuDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v GetNiddAuDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
