/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type IndividualAuthenticationStatusDocumentApiService service

/*
IndividualAuthenticationStatusDocumentApiService To store the individual Authentication Status data of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param ServingNetworkName - Serving Network Name
 * @param RequestBody -

@return CreateIndividualAuthenticationStatusResponse
*/

// CreateIndividualAuthenticationStatusRequest
type CreateIndividualAuthenticationStatusRequest struct {
	UeId               *string
	ServingNetworkName *string
	RequestBody        *models.Udm_UEAU_AuthEvent
}

func (r *CreateIndividualAuthenticationStatusRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *CreateIndividualAuthenticationStatusRequest) SetServingNetworkName(
	ServingNetworkName string,
) {
	r.ServingNetworkName = &ServingNetworkName
}

func (r *CreateIndividualAuthenticationStatusRequest) SetRequestBody(
	RequestBody models.Udm_UEAU_AuthEvent,
) {
	r.RequestBody = &RequestBody
}

type CreateIndividualAuthenticationStatusResponse struct{}

type CreateIndividualAuthenticationStatusError struct{}

func (a *IndividualAuthenticationStatusDocumentApiService) CreateIndividualAuthenticationStatus(
	ctx context.Context,
	request *CreateIndividualAuthenticationStatusRequest,
) (*CreateIndividualAuthenticationStatusResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Put")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CreateIndividualAuthenticationStatusResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/authentication-data/authentication-status/{servingNetworkName}"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"servingNetworkName"+"}",
		openapi.StringOfValue(*request.ServingNetworkName),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}
