/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type GroupIdentifiersApiService service

/*
GroupIdentifiersApiService Mapping of Group Identifiers
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param ExtGroupId - External Group Identifier
 * @param IntGroupId - Internal Group Identifier
 * @param UeIdInd - Indication whether UE identifiers are required or not
 * @param SupportedFeatures - Supported Features

@return GetGroupIdentifiersResponse
*/

// GetGroupIdentifiersRequest
type GetGroupIdentifiersRequest struct {
	ExtGroupId        *string
	IntGroupId        *string
	UeIdInd           *bool
	SupportedFeatures *string
}

func (r *GetGroupIdentifiersRequest) SetExtGroupId(ExtGroupId string) {
	r.ExtGroupId = &ExtGroupId
}

func (r *GetGroupIdentifiersRequest) SetIntGroupId(IntGroupId string) {
	r.IntGroupId = &IntGroupId
}

func (r *GetGroupIdentifiersRequest) SetUeIdInd(UeIdInd bool) {
	r.UeIdInd = &UeIdInd
}

func (r *GetGroupIdentifiersRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

type GetGroupIdentifiersResponse struct {
	Udr_DR_GroupIdentifiers *models.Udr_DR_GroupIdentifiers
}

type GetGroupIdentifiersError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *GroupIdentifiersApiService) GetGroupIdentifiers(
	ctx context.Context,
	request *GetGroupIdentifiersRequest,
) (*GetGroupIdentifiersResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  GetGroupIdentifiersResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/group-data/group-identifiers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.ExtGroupId != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"ext-group-id",
			request.ExtGroupId,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.IntGroupId != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"int-group-id",
			request.IntGroupId,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.UeIdInd != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"ue-id-ind",
			request.UeIdInd,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udr_DR_GroupIdentifiers = new(
			models.Udr_DR_GroupIdentifiers,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udr_DR_GroupIdentifiers,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 403:
		var v GetGroupIdentifiersError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
