/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type EventExposureSubscriptionsCollectionApiService service

/*
EventExposureSubscriptionsCollectionApiService Create individual EE subscription
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE ID
 * @param RequestBody -

@return CreateEeSubscriptionsResponse
*/

// CreateEeSubscriptionsRequest
type CreateEeSubscriptionsRequest struct {
	UeId        *string
	RequestBody *models.Udm_EvtExpos_EeSubscription
}

func (r *CreateEeSubscriptionsRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *CreateEeSubscriptionsRequest) SetRequestBody(
	RequestBody models.Udm_EvtExpos_EeSubscription,
) {
	r.RequestBody = &RequestBody
}

type CreateEeSubscriptionsResponse struct {
	Location                    string
	Udm_EvtExpos_EeSubscription *models.Udm_EvtExpos_EeSubscription
}

type CreateEeSubscriptionsError struct{}

func (a *EventExposureSubscriptionsCollectionApiService) CreateEeSubscriptions(
	ctx context.Context,
	request *CreateEeSubscriptionsRequest,
) (*CreateEeSubscriptionsResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Post")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CreateEeSubscriptionsResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data/ee-subscriptions"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 201:
		localVarReturnValue.Udm_EvtExpos_EeSubscription = new(
			models.Udm_EvtExpos_EeSubscription,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udm_EvtExpos_EeSubscription,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Location = localVarHTTPResponse.Header.Get(
			"Location",
		)
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}

/*
EventExposureSubscriptionsCollectionApiService Retrieves the ee subscriptions of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param SupportedFeatures - Supported Features
 * @param EventTypes - Event Types
 * @param NfIdentifiers - NF Identifiers

@return QueryeesubscriptionsResponse
*/

// QueryeesubscriptionsRequest
type QueryeesubscriptionsRequest struct {
	UeId              *string
	SupportedFeatures *string
	EventTypes        []models.Udm_EvtExpos_EventType
	NfIdentifiers     []models.Udr_DR_NfIdentifier
}

func (r *QueryeesubscriptionsRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *QueryeesubscriptionsRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

func (r *QueryeesubscriptionsRequest) SetEventTypes(
	EventTypes []models.Udm_EvtExpos_EventType,
) {
	r.EventTypes = EventTypes
}

func (r *QueryeesubscriptionsRequest) SetNfIdentifiers(
	NfIdentifiers []models.Udr_DR_NfIdentifier,
) {
	r.NfIdentifiers = NfIdentifiers
}

type QueryeesubscriptionsResponse struct {
	Udr_DR_EeSubscriptionExt []models.Udr_DR_EeSubscriptionExt
}

type QueryeesubscriptionsError struct{}

func (a *EventExposureSubscriptionsCollectionApiService) Queryeesubscriptions(
	ctx context.Context,
	request *QueryeesubscriptionsRequest,
) (*QueryeesubscriptionsResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  QueryeesubscriptionsResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data/ee-subscriptions"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.EventTypes != nil {
		if len(request.EventTypes) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"EventTypes must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"event-types",
			request.EventTypes,
			"csv",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.NfIdentifiers != nil {
		if len(request.NfIdentifiers) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"NfIdentifiers must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"nf-identifiers",
			request.NfIdentifiers,
			"csv",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:

		err = openapi.Deserialize(
			&localVarReturnValue.Udr_DR_EeSubscriptionExt,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}
