/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type UpdateTheRoamingInformationOfTheEPCDomainDocumentApiService service

/*
UpdateTheRoamingInformationOfTheEPCDomainDocumentApiService Update the Roaming Information of the EPC domain
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param RequestBody -

@return UpdateRoamingInformationResponse
*/

// UpdateRoamingInformationRequest
type UpdateRoamingInformationRequest struct {
	UeId        *string
	RequestBody *models.Udm_UECM_RoamingInfoUpdate
}

func (r *UpdateRoamingInformationRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *UpdateRoamingInformationRequest) SetRequestBody(
	RequestBody models.Udm_UECM_RoamingInfoUpdate,
) {
	r.RequestBody = &RequestBody
}

type UpdateRoamingInformationResponse struct {
	Location                   string
	Udm_UECM_RoamingInfoUpdate *models.Udm_UECM_RoamingInfoUpdate
}

type UpdateRoamingInformationError struct{}

func (a *UpdateTheRoamingInformationOfTheEPCDomainDocumentApiService) UpdateRoamingInformation(
	ctx context.Context,
	request *UpdateRoamingInformationRequest,
) (*UpdateRoamingInformationResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Put")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  UpdateRoamingInformationResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data/roaming-information"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 201:
		localVarReturnValue.Udm_UECM_RoamingInfoUpdate = new(
			models.Udm_UECM_RoamingInfoUpdate,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udm_UECM_RoamingInfoUpdate,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Location = localVarHTTPResponse.Header.Get(
			"Location",
		)
		return &localVarReturnValue, nil
	case 204:
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}
