/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type ProvisionedDataDocumentApiService service

/*
ProvisionedDataDocumentApiService Retrieve multiple provisioned data sets of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param ServingPlmnId - PLMN ID
 * @param DatasetNames - List of dataset names

@return QueryProvisionedDataResponse
*/

// QueryProvisionedDataRequest
type QueryProvisionedDataRequest struct {
	UeId          *string
	ServingPlmnId *string
	DatasetNames  []models.Udr_DR_DataSetName
}

func (r *QueryProvisionedDataRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *QueryProvisionedDataRequest) SetServingPlmnId(ServingPlmnId string) {
	r.ServingPlmnId = &ServingPlmnId
}

func (r *QueryProvisionedDataRequest) SetDatasetNames(
	DatasetNames []models.Udr_DR_DataSetName,
) {
	r.DatasetNames = DatasetNames
}

type QueryProvisionedDataResponse struct {
	Udr_DR_ProvisionedDataSets *models.Udr_DR_ProvisionedDataSets
}

type QueryProvisionedDataError struct{}

func (a *ProvisionedDataDocumentApiService) QueryProvisionedData(
	ctx context.Context,
	request *QueryProvisionedDataRequest,
) (*QueryProvisionedDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  QueryProvisionedDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/{servingPlmnId}/provisioned-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"servingPlmnId"+"}",
		openapi.StringOfValue(*request.ServingPlmnId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.DatasetNames != nil {
		if len(request.DatasetNames) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"DatasetNames must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"dataset-names",
			request.DatasetNames,
			"csv",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udr_DR_ProvisionedDataSets = new(
			models.Udr_DR_ProvisionedDataSets,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udr_DR_ProvisionedDataSets,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}
