/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type OperatorSpecificDataContainerDocumentApiService service

/*
OperatorSpecificDataContainerDocumentApiService To create an operator-specific data resource of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param RequestBody -
 * @param SupportedFeatures - Supported Features

@return CreateOperSpecDataResponse
*/

// CreateOperSpecDataRequest
type CreateOperSpecDataRequest struct {
	UeId              *string
	RequestBody       map[string]models.Udr_DR_OperatorSpecificDataContainer
	SupportedFeatures *string
}

func (r *CreateOperSpecDataRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *CreateOperSpecDataRequest) SetRequestBody(
	RequestBody map[string]models.Udr_DR_OperatorSpecificDataContainer,
) {
	r.RequestBody = RequestBody
}

func (r *CreateOperSpecDataRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

type CreateOperSpecDataResponse struct {
	Location                             string
	Udr_DR_OperatorSpecificDataContainer map[string]models.Udr_DR_OperatorSpecificDataContainer
}

type CreateOperSpecDataError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *OperatorSpecificDataContainerDocumentApiService) CreateOperSpecData(
	ctx context.Context,
	request *CreateOperSpecDataRequest,
) (*CreateOperSpecDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Put")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CreateOperSpecDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/operator-specific-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 201:

		err = openapi.Deserialize(
			&localVarReturnValue.Udr_DR_OperatorSpecificDataContainer,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Location = localVarHTTPResponse.Header.Get(
			"Location",
		)
		return &localVarReturnValue, nil
	case 204:
		return &localVarReturnValue, nil
	case 403:
		var v CreateOperSpecDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}

/*
OperatorSpecificDataContainerDocumentApiService To remove an operator-specific data resource of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id

@return DeleteOperSpecDataResponse
*/

// DeleteOperSpecDataRequest
type DeleteOperSpecDataRequest struct {
	UeId *string
}

func (r *DeleteOperSpecDataRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

type DeleteOperSpecDataResponse struct{}

type DeleteOperSpecDataError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *OperatorSpecificDataContainerDocumentApiService) DeleteOperSpecData(
	ctx context.Context,
	request *DeleteOperSpecDataRequest,
) (*DeleteOperSpecDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Delete")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  DeleteOperSpecDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/operator-specific-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	case 403:
		var v DeleteOperSpecDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}

/*
OperatorSpecificDataContainerDocumentApiService To modify operator specific data of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param RequestBody -
 * @param SupportedFeatures - Features required to be supported by the target NF

@return ModifyOperSpecDataResponse
*/

// ModifyOperSpecDataRequest
type ModifyOperSpecDataRequest struct {
	UeId              *string
	RequestBody       []models.PatchItem
	SupportedFeatures *string
}

func (r *ModifyOperSpecDataRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *ModifyOperSpecDataRequest) SetRequestBody(
	RequestBody []models.PatchItem,
) {
	r.RequestBody = RequestBody
}

func (r *ModifyOperSpecDataRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

type ModifyOperSpecDataResponse struct {
	PatchResult *models.PatchResult
}

type ModifyOperSpecDataError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *OperatorSpecificDataContainerDocumentApiService) ModifyOperSpecData(
	ctx context.Context,
	request *ModifyOperSpecDataRequest,
) (*ModifyOperSpecDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Patch")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ModifyOperSpecDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/operator-specific-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	localVarHTTPContentTypes := []string{"application/json-patch+json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	case 200:
		localVarReturnValue.PatchResult = new(models.PatchResult)
		err = openapi.Deserialize(
			localVarReturnValue.PatchResult,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 403:
		var v ModifyOperSpecDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}

/*
OperatorSpecificDataContainerDocumentApiService Retrieves the operator specific data of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param Fields - attributes to be retrieved
 * @param SupportedFeatures - Supported Features
 * @param IfNoneMatch - Validator for conditional requests, as described in RFC 7232, 3.2
 * @param IfModifiedSince - Validator for conditional requests, as described in RFC 7232, 3.3

@return QueryOperSpecDataResponse
*/

// QueryOperSpecDataRequest
type QueryOperSpecDataRequest struct {
	UeId              *string
	Fields            []string
	SupportedFeatures *string
	IfNoneMatch       *string
	IfModifiedSince   *string
}

func (r *QueryOperSpecDataRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *QueryOperSpecDataRequest) SetFields(Fields []string) {
	r.Fields = Fields
}

func (r *QueryOperSpecDataRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

func (r *QueryOperSpecDataRequest) SetIfNoneMatch(IfNoneMatch string) {
	r.IfNoneMatch = &IfNoneMatch
}

func (r *QueryOperSpecDataRequest) SetIfModifiedSince(IfModifiedSince string) {
	r.IfModifiedSince = &IfModifiedSince
}

type QueryOperSpecDataResponse struct {
	Cache_Control                        string
	ETag                                 string
	Last_Modified                        string
	Udr_DR_OperatorSpecificDataContainer map[string]models.Udr_DR_OperatorSpecificDataContainer
}

type QueryOperSpecDataError struct{}

func (a *OperatorSpecificDataContainerDocumentApiService) QueryOperSpecData(
	ctx context.Context,
	request *QueryOperSpecDataRequest,
) (*QueryOperSpecDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  QueryOperSpecDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/operator-specific-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.Fields != nil {
		if len(request.Fields) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"Fields must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"fields",
			request.Fields,
			"csv",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	if request.IfNoneMatch != nil {
		localVarHeaderParams["If-None-Match"] = openapi.ParameterToString(
			request.IfNoneMatch,
			"csv",
		)
	}

	if request.IfModifiedSince != nil {
		localVarHeaderParams["If-Modified-Since"] = openapi.ParameterToString(
			request.IfModifiedSince,
			"csv",
		)
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:

		err = openapi.Deserialize(
			&localVarReturnValue.Udr_DR_OperatorSpecificDataContainer,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Cache_Control = localVarHTTPResponse.Header.Get(
			"Cache-Control",
		)
		localVarReturnValue.ETag = localVarHTTPResponse.Header.Get("ETag")
		localVarReturnValue.Last_Modified = localVarHTTPResponse.Header.Get(
			"Last-Modified",
		)
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}
