/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type AMFNon3GPPAccessRegistrationDocumentApiService service

/*
AMFNon3GPPAccessRegistrationDocumentApiService To modify the AMF context data of a UE using non 3gpp access in the UDR
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param RequestBody -
 * @param SupportedFeatures - Features required to be supported by the target NF

@return AmfContextNon3gppResponse
*/

// AmfContextNon3gppRequest
type AmfContextNon3gppRequest struct {
	UeId              *string
	RequestBody       []models.PatchItem
	SupportedFeatures *string
}

func (r *AmfContextNon3gppRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *AmfContextNon3gppRequest) SetRequestBody(
	RequestBody []models.PatchItem,
) {
	r.RequestBody = RequestBody
}

func (r *AmfContextNon3gppRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

type AmfContextNon3gppResponse struct {
	PatchResult *models.PatchResult
}

type AmfContextNon3gppError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *AMFNon3GPPAccessRegistrationDocumentApiService) AmfContextNon3gpp(
	ctx context.Context,
	request *AmfContextNon3gppRequest,
) (*AmfContextNon3gppResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Patch")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  AmfContextNon3gppResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data/amf-non-3gpp-access"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	localVarHTTPContentTypes := []string{"application/json-patch+json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	case 200:
		localVarReturnValue.PatchResult = new(models.PatchResult)
		err = openapi.Deserialize(
			localVarReturnValue.PatchResult,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 403:
		var v AmfContextNon3gppError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}

/*
AMFNon3GPPAccessRegistrationDocumentApiService To store the AMF context data of a UE using non-3gpp access in the UDR
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param RequestBody -

@return CreateAmfContextNon3gppResponse
*/

// CreateAmfContextNon3gppRequest
type CreateAmfContextNon3gppRequest struct {
	UeId        *string
	RequestBody *models.Udm_UECM_AmfNon3GppAccessRegistration
}

func (r *CreateAmfContextNon3gppRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *CreateAmfContextNon3gppRequest) SetRequestBody(
	RequestBody models.Udm_UECM_AmfNon3GppAccessRegistration,
) {
	r.RequestBody = &RequestBody
}

type CreateAmfContextNon3gppResponse struct {
	Location                           string
	Udm_UECM_Amf3GppAccessRegistration *models.Udm_UECM_Amf3GppAccessRegistration
}

type CreateAmfContextNon3gppError struct{}

func (a *AMFNon3GPPAccessRegistrationDocumentApiService) CreateAmfContextNon3gpp(
	ctx context.Context,
	request *CreateAmfContextNon3gppRequest,
) (*CreateAmfContextNon3gppResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Put")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CreateAmfContextNon3gppResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data/amf-non-3gpp-access"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	case 201:
		localVarReturnValue.Udm_UECM_Amf3GppAccessRegistration = new(
			models.Udm_UECM_Amf3GppAccessRegistration,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udm_UECM_Amf3GppAccessRegistration,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		localVarReturnValue.Location = localVarHTTPResponse.Header.Get(
			"Location",
		)
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}

/*
AMFNon3GPPAccessRegistrationDocumentApiService Retrieves the AMF context data of a UE using non-3gpp access
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param Fields - attributes to be retrieved
 * @param SupportedFeatures - Supported Features

@return QueryAmfContextNon3gppResponse
*/

// QueryAmfContextNon3gppRequest
type QueryAmfContextNon3gppRequest struct {
	UeId              *string
	Fields            []string
	SupportedFeatures *string
}

func (r *QueryAmfContextNon3gppRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *QueryAmfContextNon3gppRequest) SetFields(Fields []string) {
	r.Fields = Fields
}

func (r *QueryAmfContextNon3gppRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

type QueryAmfContextNon3gppResponse struct {
	Udm_UECM_AmfNon3GppAccessRegistration *models.Udm_UECM_AmfNon3GppAccessRegistration
}

type QueryAmfContextNon3gppError struct{}

func (a *AMFNon3GPPAccessRegistrationDocumentApiService) QueryAmfContextNon3gpp(
	ctx context.Context,
	request *QueryAmfContextNon3gppRequest,
) (*QueryAmfContextNon3gppResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  QueryAmfContextNon3gppResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data/amf-non-3gpp-access"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.Fields != nil {
		if len(request.Fields) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"Fields must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"fields",
			request.Fields,
			"csv",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udm_UECM_AmfNon3GppAccessRegistration = new(
			models.Udm_UECM_AmfNon3GppAccessRegistration,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udm_UECM_AmfNon3GppAccessRegistration,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}
