/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type ContextDataDocumentApiService service

/*
ContextDataDocumentApiService Retrieve multiple context data sets of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId - UE id
 * @param ContextDatasetNames - List of context dataset names

@return QueryContextDataResponse
*/

// QueryContextDataRequest
type QueryContextDataRequest struct {
	UeId                *string
	ContextDatasetNames []models.Udr_DR_ContextDataSetName
}

func (r *QueryContextDataRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *QueryContextDataRequest) SetContextDatasetNames(
	ContextDatasetNames []models.Udr_DR_ContextDataSetName,
) {
	r.ContextDatasetNames = ContextDatasetNames
}

type QueryContextDataResponse struct {
	Udr_DR_ContextDataSets *models.Udr_DR_ContextDataSets
}

type QueryContextDataError struct{}

func (a *ContextDataDocumentApiService) QueryContextData(
	ctx context.Context,
	request *QueryContextDataRequest,
) (*QueryContextDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  QueryContextDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.ContextDatasetNames == nil {
		return nil, openapi.ReportError("ContextDatasetNames must be non nil")
	} else {
		if len(request.ContextDatasetNames) < 2 {
			return &localVarReturnValue, openapi.ReportError("ContextDatasetNames must have at least 2 elements")
		}
		err := openapi.AddQueryParams(&localVarQueryParams, "context-dataset-names", request.ContextDatasetNames, "csv")
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:
		localVarReturnValue.Udr_DR_ContextDataSets = new(
			models.Udr_DR_ContextDataSets,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udr_DR_ContextDataSets,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}
