/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type AmfSubscriptionInfoDocumentApiService service

/*
AmfSubscriptionInfoDocumentApiService Create AmfSubscriptions for an individual ee subscriptions of a UE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId -
 * @param SubsId -
 * @param RequestBody -

@return CreateAMFSubscriptionsResponse
*/

// CreateAMFSubscriptionsRequest
type CreateAMFSubscriptionsRequest struct {
	UeId        *string
	SubsId      *string
	RequestBody []models.Udr_DR_AmfSubscriptionInfo
}

func (r *CreateAMFSubscriptionsRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *CreateAMFSubscriptionsRequest) SetSubsId(SubsId string) {
	r.SubsId = &SubsId
}

func (r *CreateAMFSubscriptionsRequest) SetRequestBody(
	RequestBody []models.Udr_DR_AmfSubscriptionInfo,
) {
	r.RequestBody = RequestBody
}

type CreateAMFSubscriptionsResponse struct {
	Udr_DR_AmfSubscriptionInfo []models.Udr_DR_AmfSubscriptionInfo
}

type CreateAMFSubscriptionsError struct{}

func (a *AmfSubscriptionInfoDocumentApiService) CreateAMFSubscriptions(
	ctx context.Context,
	request *CreateAMFSubscriptionsRequest,
) (*CreateAMFSubscriptionsResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Put")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CreateAMFSubscriptionsResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data/ee-subscriptions/{subsId}/amf-subscriptions"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"subsId"+"}",
		openapi.StringOfValue(*request.SubsId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	case 201:

		err = openapi.Deserialize(
			&localVarReturnValue.Udr_DR_AmfSubscriptionInfo,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}

/*
AmfSubscriptionInfoDocumentApiService modify the AMF Subscription Info
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeId -
 * @param SubsId -
 * @param RequestBody -
 * @param SupportedFeatures - Features required to be supported by the target NF

@return ModifyAmfSubscriptionInfoResponse
*/

// ModifyAmfSubscriptionInfoRequest
type ModifyAmfSubscriptionInfoRequest struct {
	UeId              *string
	SubsId            *string
	RequestBody       []models.PatchItem
	SupportedFeatures *string
}

func (r *ModifyAmfSubscriptionInfoRequest) SetUeId(UeId string) {
	r.UeId = &UeId
}

func (r *ModifyAmfSubscriptionInfoRequest) SetSubsId(SubsId string) {
	r.SubsId = &SubsId
}

func (r *ModifyAmfSubscriptionInfoRequest) SetRequestBody(
	RequestBody []models.PatchItem,
) {
	r.RequestBody = RequestBody
}

func (r *ModifyAmfSubscriptionInfoRequest) SetSupportedFeatures(
	SupportedFeatures string,
) {
	r.SupportedFeatures = &SupportedFeatures
}

type ModifyAmfSubscriptionInfoResponse struct {
	PatchResult *models.PatchResult
}

type ModifyAmfSubscriptionInfoError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *AmfSubscriptionInfoDocumentApiService) ModifyAmfSubscriptionInfo(
	ctx context.Context,
	request *ModifyAmfSubscriptionInfoRequest,
) (*ModifyAmfSubscriptionInfoResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Patch")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ModifyAmfSubscriptionInfoResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/{ueId}/context-data/ee-subscriptions/{subsId}/amf-subscriptions"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueId"+"}",
		openapi.StringOfValue(*request.UeId),
	)
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"subsId"+"}",
		openapi.StringOfValue(*request.SubsId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.SupportedFeatures != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supported-features",
			request.SupportedFeatures,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	localVarHTTPContentTypes := []string{"application/json-patch+json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	case 200:
		localVarReturnValue.PatchResult = new(models.PatchResult)
		err = openapi.Deserialize(
			localVarReturnValue.PatchResult,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 403:
		var v ModifyAmfSubscriptionInfoError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
