/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type ServiceParameterDataStoreApiService service

/*
ServiceParameterDataStoreApiService Retrieve Service Parameter Data
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param ServiceParamIds - Each element identifies a service.
 * @param Dnns - Each element identifies a DNN.
 * @param Snssais - Each element identifies a slice.
 * @param InternalGroupIds - Each element identifies a group of users.
 * @param Supis - Each element identifies the user.
 * @param UeIpv4s - Each element identifies the user.
 * @param UeIpv6s - Each element identifies the user.
 * @param UeMacs - Each element identifies the user.
 * @param AnyUe - Indicates whether the request is for any UE.
 * @param SuppFeat - Supported Features

@return ReadServiceParameterDataResponse
*/

// ReadServiceParameterDataRequest
type ReadServiceParameterDataRequest struct {
	ServiceParamIds  []string
	Dnns             []string
	Snssais          []models.Snssai
	InternalGroupIds []string
	Supis            []string
	UeIpv4s          []string
	UeIpv6s          []string
	UeMacs           []string
	AnyUe            *bool
	SuppFeat         *string
}

func (r *ReadServiceParameterDataRequest) SetServiceParamIds(
	ServiceParamIds []string,
) {
	r.ServiceParamIds = ServiceParamIds
}

func (r *ReadServiceParameterDataRequest) SetDnns(Dnns []string) {
	r.Dnns = Dnns
}

func (r *ReadServiceParameterDataRequest) SetSnssais(Snssais []models.Snssai) {
	r.Snssais = Snssais
}

func (r *ReadServiceParameterDataRequest) SetInternalGroupIds(
	InternalGroupIds []string,
) {
	r.InternalGroupIds = InternalGroupIds
}

func (r *ReadServiceParameterDataRequest) SetSupis(Supis []string) {
	r.Supis = Supis
}

func (r *ReadServiceParameterDataRequest) SetUeIpv4s(UeIpv4s []string) {
	r.UeIpv4s = UeIpv4s
}

func (r *ReadServiceParameterDataRequest) SetUeIpv6s(UeIpv6s []string) {
	r.UeIpv6s = UeIpv6s
}

func (r *ReadServiceParameterDataRequest) SetUeMacs(UeMacs []string) {
	r.UeMacs = UeMacs
}

func (r *ReadServiceParameterDataRequest) SetAnyUe(AnyUe bool) {
	r.AnyUe = &AnyUe
}

func (r *ReadServiceParameterDataRequest) SetSuppFeat(SuppFeat string) {
	r.SuppFeat = &SuppFeat
}

type ReadServiceParameterDataResponse struct {
	Udr_DR_ServiceParameterData []models.Udr_DR_ServiceParameterData
}

type ReadServiceParameterDataError struct {
	ProblemDetails *models.ProblemDetails
}

func (a *ServiceParameterDataStoreApiService) ReadServiceParameterData(
	ctx context.Context,
	request *ReadServiceParameterDataRequest,
) (*ReadServiceParameterDataResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Get")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ReadServiceParameterDataResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/application-data/serviceParamData"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if request.ServiceParamIds != nil {
		if len(request.ServiceParamIds) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"ServiceParamIds must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"service-param-ids",
			request.ServiceParamIds,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.Dnns != nil {
		if len(request.Dnns) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"Dnns must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"dnns",
			request.Dnns,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.Snssais != nil {
		if len(request.Snssais) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"Snssais must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"snssais",
			request.Snssais,
			"application/json",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.InternalGroupIds != nil {
		if len(request.InternalGroupIds) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"InternalGroupIds must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"internal-group-ids",
			request.InternalGroupIds,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.Supis != nil {
		if len(request.Supis) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"Supis must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supis",
			request.Supis,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.UeIpv4s != nil {
		if len(request.UeIpv4s) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"UeIpv4s must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"ue-ipv4s",
			request.UeIpv4s,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.UeIpv6s != nil {
		if len(request.UeIpv6s) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"UeIpv6s must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"ue-ipv6s",
			request.UeIpv6s,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.UeMacs != nil {
		if len(request.UeMacs) < 1 {
			return &localVarReturnValue, openapi.ReportError(
				"UeMacs must have at least 1 elements",
			)
		}
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"ue-macs",
			request.UeMacs,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.AnyUe != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"any-ue",
			request.AnyUe,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}
	if request.SuppFeat != nil {
		err := openapi.AddQueryParams(
			&localVarQueryParams,
			"supp-feat",
			request.SuppFeat,
			"multi",
		)
		if err != nil {
			return nil, err
		}
	}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{
		"application/json",
		"application/problem+json",
	}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 200:

		err = openapi.Deserialize(
			&localVarReturnValue.Udr_DR_ServiceParameterData,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	case 400:
		var v ReadServiceParameterDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 401:
		var v ReadServiceParameterDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 403:
		var v ReadServiceParameterDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 404:
		var v ReadServiceParameterDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 406:
		var v ReadServiceParameterDataError
		apiError.ErrorModel = v
		return nil, apiError
	case 414:
		var v ReadServiceParameterDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 429:
		var v ReadServiceParameterDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 500:
		var v ReadServiceParameterDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	case 503:
		var v ReadServiceParameterDataError
		v.ProblemDetails = new(models.ProblemDetails)
		err = openapi.Deserialize(
			v.ProblemDetails,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		apiError.ErrorModel = v
		return nil, apiError
	default:
		return nil, apiError
	}
}
