/*
 * Nudr_DataRepository API OpenAPI file
 *
 * Unified Data Repository Service.   © 2024, 3GPP Organizational Partners (ARIB, ATIS, CCSA, ETSI, TSDSI, TTA, TTC).   All rights reserved.
 *
 * Source file: 3GPP TS 29.504 V17.14.0; 5G System; Unified Data Repository Services; Stage 3
 * Url: https://www.3gpp.org/ftp/Specs/archive/29_series/29.504/
 *
 * API version: 2.2.5
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package DR

import (
	"context"
	"io"
	"net/url"
	"strings"

	"github.com/free5gc/openapi"

	"github.com/free5gc/openapi/models"
)

// Linger please
var (
	_ context.Context
)

type SMFEventGroupSubscriptionInfoDocumentApiService service

/*
SMFEventGroupSubscriptionInfoDocumentApiService Create SMF Subscription Info for a group of UEs or any YE
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param UeGroupId -
 * @param SubsId -
 * @param RequestBody -

@return CreateSmfGroupSubscriptionsResponse
*/

// CreateSmfGroupSubscriptionsRequest
type CreateSmfGroupSubscriptionsRequest struct {
	UeGroupId   *string
	SubsId      *string
	RequestBody *models.Udr_DR_SmfSubscriptionInfo
}

func (r *CreateSmfGroupSubscriptionsRequest) SetUeGroupId(UeGroupId string) {
	r.UeGroupId = &UeGroupId
}

func (r *CreateSmfGroupSubscriptionsRequest) SetSubsId(SubsId string) {
	r.SubsId = &SubsId
}

func (r *CreateSmfGroupSubscriptionsRequest) SetRequestBody(
	RequestBody models.Udr_DR_SmfSubscriptionInfo,
) {
	r.RequestBody = &RequestBody
}

type CreateSmfGroupSubscriptionsResponse struct {
	Udr_DR_SmfSubscriptionInfo *models.Udr_DR_SmfSubscriptionInfo
}

type CreateSmfGroupSubscriptionsError struct{}

func (a *SMFEventGroupSubscriptionInfoDocumentApiService) CreateSmfGroupSubscriptions(
	ctx context.Context,
	request *CreateSmfGroupSubscriptionsRequest,
) (*CreateSmfGroupSubscriptionsResponse, error) {
	var (
		localVarHTTPMethod   = strings.ToUpper("Put")
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CreateSmfGroupSubscriptionsResponse
	)
	_ = localVarReturnValue

	// create path and map variables
	localVarPath := a.client.cfg.BasePath() + "/subscription-data/group-data/{ueGroupId}/ee-subscriptions/{subsId}/smf-subscriptions"
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"ueGroupId"+"}",
		openapi.StringOfValue(*request.UeGroupId),
	)
	localVarPath = strings.ReplaceAll(
		localVarPath,
		"{"+"subsId"+"}",
		openapi.StringOfValue(*request.SubsId),
	)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentTypes := []string{"application/json"}

	localVarHeaderParams["Content-Type"] = localVarHTTPContentTypes[0] // use the first content type specified in 'consumes'

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := strings.Join(localVarHTTPHeaderAccepts, ", ")
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}

	// body params
	localVarPostBody = request.RequestBody

	r, err := openapi.PrepareRequest(
		ctx,
		a.client.cfg,
		localVarPath,
		localVarHTTPMethod,
		localVarPostBody,
		localVarHeaderParams,
		localVarQueryParams,
		localVarFormParams,
		localVarFormFileName,
		localVarFileName,
		localVarFileBytes,
	)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := openapi.CallAPI(a.client.cfg, r)
	if err != nil || localVarHTTPResponse == nil {
		return nil, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	if err != nil {
		return nil, err
	}
	err = localVarHTTPResponse.Body.Close()
	if err != nil {
		return nil, err
	}

	apiError := openapi.GenericOpenAPIError{
		RawBody:     localVarBody,
		ErrorStatus: localVarHTTPResponse.StatusCode,
	}
	_ = apiError

	switch localVarHTTPResponse.StatusCode {
	case 204:
		return &localVarReturnValue, nil
	case 201:
		localVarReturnValue.Udr_DR_SmfSubscriptionInfo = new(
			models.Udr_DR_SmfSubscriptionInfo,
		)
		err = openapi.Deserialize(
			localVarReturnValue.Udr_DR_SmfSubscriptionInfo,
			localVarBody,
			localVarHTTPResponse.Header.Get("Content-Type"),
		)
		if err != nil {
			return nil, err
		}
		return &localVarReturnValue, nil
	default:
		return nil, apiError
	}
}
